.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/c1caef15d84cb598b4a35dde789d79a77528bbddf7b6dc75015fe2031875f4d6b9dcb481864b49eb05c7e9477b4ad6469863741ca7c8171b60f4ca_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 817px;
}

.u-section-1 .u-list-1 {
  min-height: 233px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  height: auto;
  margin-top: 10px;
  margin-bottom: 0;
  grid-gap: 10px 10px;
  margin-left: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/a748abdf4ccd7f8a592a849023417fcaacaa48899b22d32f356e5f1044b05cd1b581177d8b45ba5c1b2daff3d22fdf69ef35cc90ed3b38129faea9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 20px -15px 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  margin: 23px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 16px auto 0;
  padding: 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/c012e9e367b730f240a26758fa5589c0121032fbbc2a2fec4e4906ea73c24a983212b1722c676628f24a1ed36a7a488dda58593e4aa7323cfc61fd_1280.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 20px -15px 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  margin: 23px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 16px auto 0;
  padding: 0;
}

.u-section-1 .u-image-3 {
  background-image: url("images/84a57dcd03c1dafb58d6005b58d2b41d72a9c71cb41dc8ff6ef6498d2e18bcb882417c6e8a796009397e062d14a8a9f9ca279dc840f2c4e15ee19a_1280.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-group-3 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 20px -15px 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  margin: 23px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: 16px auto 0;
  padding: 0;
}

.u-section-1 .u-image-4 {
  background-image: url("images/48c42f343378def3622c8421240551d6e60a6765439367a708a28fe8f661dd93acbcd613d9d737773ae0fd7a3dbb8ef034855459b279ab511a69fb_1280.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-group-4 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 20px -15px 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-4 {
  margin: 23px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  margin: 16px auto 0;
  padding: 0;
}

.u-section-1 .u-list-2 {
  min-height: 218px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  height: auto;
  margin-top: 53px;
  margin-bottom: 0;
  grid-gap: 10px 10px;
  margin-left: 0;
}

.u-section-1 .u-image-5 {
  background-image: url("images/3cc9cf753915c5012a6c2b82232e1c3bc6200e419c040cb95d47cbc4628fb363f7bd156f12aeecd7ddd494fab2a99e5d78c3cc8fa29457b327f719_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-group-5 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 0 -15px;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  margin: 21px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-1 .u-image-6 {
  background-image: url("images/8256cf6c6e0a4663661ebf6014a6e835ab392b7ddf7bad25ea00d39a0edb8716ecfa332b6711137a591709d8ba5da7664ce5e0b7f5bc670ab1e64b_1280.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-group-6 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 0 -15px;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-6 {
  margin: 21px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-1 .u-image-7 {
  background-image: url("images/d1995e361607eab6350828ee38f02645250d8d8e0f5d75a35fb13c513855bba2cd94e84cebc478cd75ef42c5606dd92ddf2bdde56abc49a71b7427_1280.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-group-7 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 0 -15px;
}

.u-section-1 .u-container-layout-14 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  margin: 21px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: none none solid;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-1 .u-image-8 {
  background-image: url("images/3a97c94285967657091e5c6f750fd7e2f24642342df5e2a6f3e5ee770a36988a5eeceeb66fc7246e40aabde32e0b1c310503c7ebd825206774996b_1280.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-group-8 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 0 -15px;
}

.u-section-1 .u-container-layout-16 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-8 {
  margin: 21px auto 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: none none solid;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-1 .u-list-3 {
  min-height: 218px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  height: auto;
  grid-gap: 10px 10px;
  margin-bottom: 27px;
  margin-top: 55px;
  margin-left: 0;
}

.u-section-1 .u-image-9 {
  background-image: url("images/ddff4402b1618fb7aee43476034a53942e5dfe1a66bd424d29fcacdf62a38b51221f3cae6a3e526765afd5b20bde8102a384a5b33e21e9884af252_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-group-9 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 0 -15px;
}

.u-section-1 .u-container-layout-18 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  border-style: none none solid;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-1 .u-image-10 {
  background-image: url("images/0aa234d2a79445b823d9a2b70847cd6f4d32c4364bab59472ff87cb5c8ad724c5d9046a772a551c8e6369dfb0f0001062532fe4fe4af2a21162e73_1280.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px;
}

.u-section-1 .u-group-10 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 0 -15px;
}

.u-section-1 .u-container-layout-20 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  border-style: none none solid;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-1 .u-image-11 {
  background-image: url("images/14f707e995c81b71d3f6fa1411902d47b104ec81e6f34fa15dc2f2a0c1651292ca9a9fe417893ef7205e0e7a6e27d4bf0593ed7f5480a987659be2_1280.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-21 {
  padding: 30px;
}

.u-section-1 .u-group-11 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 0 -15px;
}

.u-section-1 .u-container-layout-22 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  border-style: none none solid;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-1 .u-image-12 {
  background-image: url("images/62d9559d24f3d863334417a27ce1ff97d32c9042d0905034f06480675cc4459deee2771808da9fa65314300ea209a361250d02eda23bef17bf632f_1280.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px;
}

.u-section-1 .u-group-12 {
  width: 247px;
  min-height: 123px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
  height: auto;
  margin: 0 -15px;
}

.u-section-1 .u-container-layout-24 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-12 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  border-style: none none solid;
  margin: 17px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
    min-height: 192px;
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-list-2 {
    min-height: 180px;
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-list-3 {
    min-height: 180px;
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    margin-left: initial;
  }

  .u-section-1 .u-group-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-group-10 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-group-11 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-group-12 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1864px;
  }

  .u-section-1 .u-list-1 {
    min-height: 549px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px));
    margin-left: initial;
  }

  .u-section-1 .u-list-2 {
    min-height: 549px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    margin-left: initial;
  }

  .u-section-1 .u-list-3 {
    min-height: 551px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 302px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 302px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 302px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    width: 302px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-2 {
    grid-template-columns: 100%;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    width: 247px;
    margin-right: -15px;
    margin-left: -15px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-6 {
    width: 247px;
    margin-right: -15px;
    margin-left: -15px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-7 {
    width: 247px;
    margin-right: -15px;
    margin-left: -15px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-8 {
    width: 247px;
    margin-right: -15px;
    margin-left: -15px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-3 {
    grid-template-columns: 100%;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-9 {
    width: 247px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-10 {
    width: 247px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-11 {
    width: 247px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-12 {
    width: 247px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 213px;
  }

  .u-section-1 .u-group-2 {
    width: 213px;
  }

  .u-section-1 .u-group-3 {
    width: 213px;
  }

  .u-section-1 .u-group-4 {
    width: 213px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/1f65e08afefe25e5d43cfd62f48eca6e16c7295abe5eb801a59f05810a8a7457b54ffed17855d781d6136b061a8cfcfc5143c04e37461da879d596_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 446px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 34px -145px 0 735px;
}

.u-section-2 .u-form-1 {
  height: 318px;
  margin: 0 35px 55px 570px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 635px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 153px;
    margin-left: 218px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 525px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 43px;
    margin-left: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 435px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 335px;
  }
}