<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Sensor Values</title>

    <style>
        body {
          background-color: #E6E6FA;
        }
    </style>
<!--          background-color: #96a881; -->

</head>
<body>
    <div class="container" style="padding: 100px;">

        <div class="text-muted">
            <center>
                <h3>Real Time Data From The iGrow</h3>
            </center>
        </div>
        <ul class="list-group">
            {% for item in all %}
                <li class="list-group-item list-group-item-info">Temperature : {{ item.Temperature }}</li>
                <li class="list-group-item list-group-item-info">Pressure : {{ item.Pressure }}</li>
                <li class="list-group-item list-group-item-info">Humidity : {{ item.Humidity }}</li>
                <li class="list-group-item list-group-item-info">pH : {{ item.pH }}</li>
                <li class="list-group-item list-group-item-info">Intensity : {{ item.Intensity }}</li>
            {% endfor %}
        </ul>
    </div>
    <center>
        <h1>Live Stream Of Plant Growing</h1>
        <div class="video">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/-vffKB8ma7Q" frameborder="5" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"></iframe>
        </div>
    </center>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/boots<trap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<!-- body color #96a881 -->